In [2]:
#Fiture Scaling이란?

#raw data를 전처리하는 과정
#방법론적으로 크게 Min-Max Normalization, Standardization (Z-score Normalization) 두가지가 있다.

In [3]:
#Min-Max Normalization
#데이터를 일반적으로 0~1 사이의 값으로 변환시켜준다
#데이터의 최소값, 최댇값을 알 경우 사용
import pandas as pd
import numpy as np
df = pd.DataFrame({'A':[14.00, 90.20, 90.95, 96.27, 91.21], 'B':[103.02, 107.26, 110.35, 114.23, 114.68], 'C':['big','small','big',
                                                                                                              'small','small']})
df

       A       B      C
0  14.00  103.02    big
1  90.20  107.26  small
2  90.95  110.35    big
3  96.27  114.23  small
4  91.21  114.68  small

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_scaled = df.iloc[:,:-1]
df_scaled = scaler.fit_transform(df_scaled)
df.iloc[:,:-1] = df_scaled
df

          A         B      C
0  0.000000  0.000000    big
1  0.926219  0.363636  small
2  0.935335  0.628645    big
3  1.000000  0.961407  small
4  0.938495  1.000000  small

In [17]:
#Standardization
#기존 변수에 범위를 정규 분포로 변환
#데이터의 최소값, 최대값을 모를 경우 사용
df = pd.DataFrame({'A':[14.00, 90.20, 90.95, 96.27, 91.21], 'B':[103.02, 107.26, 110.35, 114.23, 114.68], 'C':['big','small','big',
                                                                                                              'small','small']})
df

       A       B      C
0  14.00  103.02    big
1  90.20  107.26  small
2  90.95  110.35    big
3  96.27  114.23  small
4  91.21  114.68  small

In [18]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()

df_scaled = df.iloc[:,:-1]
df_scaled = std_scaler.fit_transform(df_scaled)
df_scaled

array([[-1.99528969, -1.5711172 ],
       [ 0.43635594, -0.60399511],
       [ 0.46028946,  0.10081792],
       [ 0.63005789,  0.98582586],
       [ 0.46858641,  1.08846854]])

In [20]:
df.iloc[:,:-1] = df_scaled
df

          A         B      C
0 -1.995290 -1.571117    big
1  0.436356 -0.603995  small
2  0.460289  0.100818    big
3  0.630058  0.985826  small
4  0.468586  1.088469  small

In [22]:
import pandas as pd
import numpy as np

df = pd.io.parsers.read_csv(
    'https://raw.githubusercontent.com/rasbt/pattern_classification/master/data/wine_data.csv',
     header=None,
     usecols=[0,1,2]
    )

df.columns=['Class label', 'Alcohol', 'Malic acid']
df.head()

   Class label  Alcohol  Malic acid
0            1    14.23        1.71
1            1    13.20        1.78
2            1    13.16        2.36
3            1    14.37        1.95
4            1    13.24        2.59

In [28]:
df_scaled = std_scaler.fit_transform(df.iloc[:,1:])
df.iloc[:,1:]=df_scaled
df.head()

   Class label   Alcohol  Malic acid
0            1  1.518613   -0.562250
1            1  0.246290   -0.499413
2            1  0.196879    0.021231
3            1  1.691550   -0.346811
4            1  0.295700    0.227694