In [2]:
#Fiture Scaling이란?

#raw data를 전처리하는 과정
#방법론적으로 크게 Min-Max Normalization, Standardization (Z-score Normalization) 두가지가 있다.

In [3]:
#Min-Max Normalization

import pandas as pd
import numpy as np
df = pd.DataFrame({'A':[14.00, 90.20, 90.95, 96.27, 91.21], 'B':[103.02, 107.26, 110.35, 114.23, 114.68], 'C':['big','small','big',
                                                                                                              'small','small']})
df

       A       B      C
0  14.00  103.02    big
1  90.20  107.26  small
2  90.95  110.35    big
3  96.27  114.23  small
4  91.21  114.68  small

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_scaled = df.iloc[:,:-1]
df_scaled = scaler.fit_transform(df_scaled)
df.iloc[:,:-1] = df_scaled
df

          A         B      C
0  0.000000  0.000000    big
1  0.926219  0.363636  small
2  0.935335  0.628645    big
3  1.000000  0.961407  small
4  0.938495  1.000000  small